body {
    background-color: #e6d080;
}

#container {
    background-color: #fff8d3;
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 10px 20px;
    border-radius: 10px;
    border: solid 2px grey;
}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
    text-align: center;
}

.question, .answer {
    display: block;
    margin: 10px;
}

.question.correct {
    color: green;
}

.question.wrong {
    color: red;
}

.question.partial {
    color: orange;
}

#tests {
    width: 100%;
}

#tests td {
    text-align: center;
}

#tests tr:nth-child(2n+1) {
    background-color: #f3e8c3;
}

.error {
    color: red;
}
