body {
	margin: 0;
    background-color: #FED3B3;
}

#container {
    background-color: #FBECE3;
    max-width: 600px;
    margin: 30px auto;
    padding: 0px 10px 20px;
    border-radius: 10px;
    border: solid 2px grey;
}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
    text-align: center;
}

.question, .answer {
    display: block;
    margin: 10px;
}

.question.correct {
    color: green;
}

.question.wrong {
    color: red;
}

.question.partial {
    color: orange;
}

#tests {
    width: 100%;
}

#tests td {
    text-align: center;
}

#tests tr:nth-child(2n+1) {
    background-color: #f3e8c3;
}

.error {
    color: red;
}

.navbar {
	overflow: hidden;
	background-color: #ff884d;
	padding: 7px;
	width: 100%;
}

.navbar a {
	margin: 0px 17px 0px 15px;
	color: #fdf4e7;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
}

.navbar a:active {
	color: #ffccb3;
	text-shadow: 2px 2px orange;
}

.navbar a:hover {
	color: #ffccb3;
}

.navbar a:focus {
	outline: none;
}

.position-left {
	float: left;
}

.navbar img { 
	width: 39px;
	height: 30px;
}

.position-right {
	float: right;
}