body {
	margin: 0;
    background-color: #e7e3e8;
}

#container {
   /*background-color: #FBECE3;*/
    background-color: #ffffff;
    max-width: 600px;
    margin: 30px auto;
    padding: 0px 10px 20px;
    border-radius: 10px;
    border: solid 2px grey;
}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
    text-align: center;
}

.question, .answer {
    display: block;
    margin: 10px;
}

.question.correct {
    color: green;
}

.question.wrong {
    color: red;
}

.question.partial {
    color: orange;
}

textarea {
	width: 100%;
}

#tests {
    width: 100%;
}

#tests td {
    text-align: center;
}

#tests tr:nth-child(2n+1) {
    background-color: #f3e8c3;
}

.error {
    color: red;
    text-align: center;
}

.success {
	color: green;
	text-align: center;
}

.navbar {
	overflow: hidden;
	/*background-color: #ff884d;*/
	background-color: #204060;
	padding: 7px;
	width: 100%;
}

.navbar a {
	margin: 0px 17px 0px 15px;
	color: #e7e3e8;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
}

.navbar a:hover {
	color: #B4A7B7;
}

.navbar a:focus {
	outline: none;
}

.position-left {
	float: left;
}

.navbar img {
	width: 39px;
	height: 30px;
}

.position-right {
	float: right;
}

input[type="file"] {
	display: none;
}

.align-form-content {
    text-align: center;
}

.custom-input-file {
	display: inline-block;
	padding: 3px 10px;
	font-size: 1.3rem;
	color: #ffffff;
	background-color: #2d5986;
	border: 2px solid #2d5986;
	border-radius: 5px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-input-file:hover {
	color: #ffffff;
	background-color: #204060;
	border-color: #204060;
	cursor: pointer;
}

button {
	display: inline-block;
	padding: 3px 10px;
	font-size: 1.3rem;
	color: #ffffff;
	background-color: #2d5986;
	border: 2px solid #2d5986;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	color: #ffffff;
	background-color: #204060;
	border-color: #204060;
	cursor: pointer;
}

button:focus {
	outline: none;
}

a {
	color: #2d5986;
	text-decoration: none;
}

a:hover {
	color: #204060;
}

a:focus {
	outline: none;
}

input[type="text"], input[type="password"] {
	width: 300px;
	height: 25px;
	border: 1px solid #2d5986;
	border-radius: 3px;
	margin: 10px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
	color: #204060;
	padding: 3px;
	font-size: 0.8rem;
}

input[type="submit"] {
	display: inline-block;
	padding: 3px 10px;
	font-size: 1.3rem;
	color: #ffffff;
	background-color: #2d5986;
	border: 2px solid #2d5986;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	color: #ffffff;
	background-color: #204060;
	border-color: #204060;
	cursor: pointer;
}

input[type="submit"]:focus {
	outline: none;
}

.position-email-label {
	margin-right: 30px;
}

.position-password-label {
	margin-right: 5px;
}

.delete-button {
	padding: 0px;
	background-color: transparent;
	border: 0px;
	margin: 10px auto;
}

.delete-button:hover {
	padding: 0px;
	background-color: transparent;
	border: 0px;
}

.delete-test-icon {
	margin: auto auto;
	color: #ff0000;
	transform: scale(0.75,0.75);
}

.delete-test-icon:hover {
	color: #cc0000;
	transform: scale(0.90,0.90);
}

.test-title {
	width: 90%;
	display: inline-block;
	margin: 10px 0px;
}

.delete-button-wrapper {
	text-align: center;
	margin: auto auto;
	height: 60px;
	width: 7%;
	display:inline-block;
}
