<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Browse tests</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/browse.js" defer></script>
    </head>
    <body>
        <?php if ($params["is_logged"]): ?>
            <h2>User <?=$params["username"]?> is logged in.</h2>
        <?php elseif ($params["database_error"]): ?>
            <h2>Database error!</h2>
        <?php else: ?>
            <h2>Please log in to view this page.</h2>
        <?php endif; ?>
    </body>
</html>
