<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Import</title>
        <script src="js/import.js" defer></script>
        <?php include "head-inc.php" ?>
    </head>
    <body>
    	<?php include "navbar-inc.php" ?>

    	<div id="container">
    		<h1>Добавяне на тест</h1>
    		<form name="SubmitForm" action="import-csv.php" method="POST" class="align-form-content">
    			<label for="file-upload" class="custom-input-file">
    				Добави тест
    			</label>
    			<input onchange="AutoSubmit();" id="file-upload" name="file-upload" type="file" />
    		</form>
    	</div>

		<script type="text/javascript">
			function AutoSubmit() {
				val = document.getElementById("file-upload").value;
				
				if (val) {
					document.SubmitForm.submit();
				}
			}
		</script>
    </body>
</html>
