<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Import</title>
        <script type="text/javascript" src="js/import.js" defer></script>
        <?php include "includes/head-inc.php" ?>
    </head>
    <body>
    	<?php include "includes/navbar-inc.php" ?>

    	<div id="container">
    		<h1>Добавяне на тест</h1>
    		<form name="SubmitForm" action="import-csv.php" method="POST" class="align-form-content">
    			<label for="file-upload" class="custom-input-file">
    				Добави тест
    			</label>
    			<input onchange="AutoSubmit();" id="file-upload" name="file-upload" type="file" />
    		</form>
    	</div>
    </body>
</html>
