<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <script src="js/login.js" defer></script>
        <?php include "includes/head-inc.php" ?>
    </head>
    <body>
        <?php include "includes/navbar-inc.php" ?>
        <div id='container'>
        <h1>Login page</h1>
        <form class="align-form-content" action="" method="POST">
              
                
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <br>
                <label class="position-password-label" for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button type="submit" name='submitbutton'>Login</button>
                <br>
                <br>
                <span>Don't have an account? <a href="signup.php">Sign up</a></span>
        </form> 
                
        <?php if (!empty($params["msg"])): ?>
            <h3 class="error">Invalid username or password!</h3>
       <?php endif; ?>
         
    </div>
    </body>
</html>
