<?php if (!empty($params["logout_msg"])): ?>
<div>
    <h2 class="success"><?=$params["logout_msg"]?></h2>
</div>
<?php endif; ?>

<div id="container">
    <?php if ($params["all_system_tests"]): ?>
        <h1>Welcome, <?=!empty($params["username"]) ? $params["username"] : "guest user" ?>!</h1>
        <h2>Browse all tests in the system.</h2>
    <?php else: ?>
        <h2>Browse all your tests.</h2>
    <?php endif; ?>

    <?php if (empty($params["tests"])): ?>
        <h3>No tests available. Start by <a href="import.php">importing</a> one!</h3>
    <?php else: ?>
        <table id="tests">
            <tr>
                <th>Test title</th>
                <th>Uploaded on</th>
                <th>Num of questions</th>
                <?php if ($params["all_system_tests"]): ?>
                    <th>Uploaded by</th>
                <?php endif; ?>
                <th>Export</th>
            </tr>
            <?php foreach ($params["tests"] as $index => $test): ?>
                <tr>
                    <td><a href="view.php?id=<?=$test->id?>"><?=$test->title?></a></td>
                    <td><?=$test->time_uploaded?></td>
                    <td><?=count($test->questions)?></td>
                    <?php if ($params["all_system_tests"]): ?>
                        <td><?=$test->username?></td>
                    <?php endif; ?>
                    <td>
                        <a href="export.php?id=<?=$test->id?>">
                            <img src="images/export.png" alt="Export" style="width:16px;height:16px;">
                        </a> 
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>
</div>
