<div id="container">
  <h2 class="test-label-position">Import CSV file</h2>
  <form name="SubmitForm" enctype="multipart/form-data" action="import-csv.php" method="POST" class="align-form-content">
      <div class="position-delimiter-input">
        <p class="delimiter-prompt">Choose delimiter: </p>
        <input class="csv-delimiter" name="csv-delimiter" id="csv-delimiter" type="text" maxlength="1" placeholder="," />
      </div>
      <label for="file-upload" class="custom-input-file">
          Import CSV
      </label>
      <input onchange="AutoSubmit();" id="file-upload" name="file-upload" type="file" />
  </form>
  <form name="SubmitFormJSON" enctype="multipart/form-data" action="import-json.php" method="POST" class="align-form-content">
    <h2 class="test-label-position tooltip"><a class="move-to-submit" href="#json-file-upload">Import JSON file</a><span class="tooltiptext">On click: go to submit button</span></h2>
    <textarea name="json-content" rows="6" placeholder="JSON file content.."></textarea>
    <input id="json-file-upload" name="json-file-upload" type="submit" value="Import JSON" />
  </form>
</div>
