<div id="container">
    <?php if ($params["can_manage_test"]): ?>
      <h1 class="test-title" name="test-title"><?=$params["title"]?></h1>
      <form action="delete-test.php" method="POST" class="delete-button-wrapper">
        <input type="hidden" name="test-title" value="<?=$params['title']?>" />
        <button class="delete-button"><i class="fa fa-trash fa-2x delete-test-icon"></i></button>
      </form>
    <?php else: ?>
      <h1><?=$params["title"]?></h1>
    <?php endif; ?>

    <?php if ($params["is_viewing_results"]): ?>
        <h2>Results:</h2><h3><?=$params["sum"]?> / <?=$params["max"]?></h3>
    <?php endif; ?>

    <?php if (count($params["questions"]) == 0): ?>
        <h2>No questions here!</h2>
    <?php else: ?>
        <form action="" method="post">

            <?php foreach ($params["questions"] as $ind_q => $question): ?>
                <hr />
                <strong class="question <?=$params["question_classes"][(string)$question->id]?>"><?=$ind_q + 1?>. <?=$question->text?></strong>

                <?php if ($question->isOpen()): ?>
                    <em>(open-answer question)</em> <br />
                <?php else: ?>
                    <?php foreach ($question->answers as $ind_a => $answer): ?>
                        <div class="answer">
                            <input type="checkbox" name="q<?=$question->id?>[]" value="a<?=$answer->id?>">
                            <label for="q<?=$question->id?>"><?=$answer->text?></label>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>

                <?php if ($params["give_feedback_mode"]): ?>
                    <em>Your feedback for question <?=$ind_q + 1?>:</em>
                    <textarea name="f<?=$question->id?>" rows="2" cols="80"><?=$params["feedback_for_question"][(string)$question->id]?></textarea>
                <?php elseif ($params["view_feedback_mode"]): ?>

                    <?php if (count($question->feedback) == 0): ?>
                        <em>No feedback left for this question.</em>
                    <?php else: ?>
                        <table>
                            <tr>
                                <th>Username</th>
                                <th>Comment</th>
                            </tr>
                            <?php foreach ($question->feedback as $ind_f => $feedback): ?>
                                <tr>
                                    <td><?=$feedback->username?></td>
                                    <td><?=$feedback->text?></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                    <?php endif; ?>

                <?php endif; ?>
            <?php endforeach; ?>

            <hr />
            <input type="submit" name="submit" value="See the results!">

            <?php if ($params["give_feedback_mode"]): ?>
                <input type="submit" name="feedback" value="Submit feedback!">
            <?php endif; ?>
        </form>
    <?php endif; ?>
</div>
